@using System.Web.Mvc.Html
@using MVCDemo.Common
@using MVCDemo.Models
@model UserToRemindPasswordViewModel

@{
    var modelType = Model.GetType();
    var remindPasswordEmailDisplayName = DisplayNameHelper.GetDisplayName(modelType.GetProperty(nameof(Model.RemindPasswordEmail)));
    var remindPasswordCodeDisplayName = DisplayNameHelper.GetDisplayName(modelType.GetProperty(nameof(Model.RemindPasswordCode)));
    //var remindPasswordOldPasswordDisplayName = DisplayNameHelper.GetDisplayName(modelType.GetProperty(nameof(Model.RemindPasswordOldPassword)));
    var remindPasswordNewPasswordDisplayName = DisplayNameHelper.GetDisplayName(modelType.GetProperty(nameof(Model.RemindPasswordNewPassword)));
    var remindPasswordConfirmPasswordDisplayName = DisplayNameHelper.GetDisplayName(modelType.GetProperty(nameof(Model.RemindPasswordConfirmPassword)));
}

@using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "frmRemindPasswordPanel" }))
{
    <fieldset>
        <legend>Zmiana Hasła</legend>

        <table class="tableRemindPassword">
            <tr>
                <td class="remindpassword_editor_label">
                    @Html.LabelFor(model => model, remindPasswordEmailDisplayName + ": ", new {@for = "RemindPasswordEmail"})
                </td>
                <td class="remindpassword_editor_field">
                    @Html.TextBoxFor(model => model.RemindPasswordEmail, new {@id = "txtRemindPasswordEmail", Name = "RemindPasswordEmail", @placeholder = remindPasswordEmailDisplayName + "..."})
                </td>
            </tr>
            <tr>
                <td colspan="2" class="remindpassword_sendremindpasswordrequest_container">
                    <span id="lnkbtnSendRemindPasswordRequest" class="linklike">Wyślij Kod Weryfikacyjny</span>
                </td>
            </tr>
            <tr>
                <td class="remindpassword_editor_label">
                    @Html.LabelFor(model => model, remindPasswordCodeDisplayName + ": ", new { @for = "RemindPasswordCode" })
                </td>
                <td class="remindpassword_editor_field">
                    @Html.TextBoxFor(model => model.RemindPasswordEmail, new { @id = "txtRemindPasswordCode", Name = "RemindPasswordCode", @placeholder = remindPasswordCodeDisplayName + "..." })
                </td>
            </tr>
            @*<tr>
                <td class="remindpassword_editor_label">
                    @Html.LabelFor(model => model, remindPasswordOldPasswordDisplayName + ": ", new {@for = "RemindPasswordOldPassword" })
                </td>
                <td class="remindpassword_editor_field">
                    @Html.PasswordFor(model => model.RemindPasswordEmail, new {@id = "txtRemindPasswordOldPassword", Name = "RemindPasswordOldPassword", @placeholder = remindPasswordOldPasswordDisplayName + "..."})
                </td>
            </tr>*@
            <tr>
                <td class="remindpassword_editor_label">
                    @Html.LabelFor(model => model, remindPasswordNewPasswordDisplayName + ": ", new {@for = "RemindPasswordNewPassword" })
                </td>
                <td class="remindpassword_editor_field">
                    @Html.PasswordFor(model => model.RemindPasswordEmail, new {@id = "txtRemindPasswordNewPassword", Name = "RemindPasswordNewPassword", @placeholder = remindPasswordNewPasswordDisplayName + "..."})
                </td>
            </tr>
            <tr>
                <td class="remindpassword_editor_label">
                    @Html.LabelFor(model => model, remindPasswordConfirmPasswordDisplayName + ": ", new {@for = "RemindPasswordConfirmPassword"})
                </td>
                <td class="remindpassword_editor_field">
                    @Html.PasswordFor(model => model.RemindPasswordEmail, new {@id = "txtRemindPasswordConfirmPassword", Name = "RemindPasswordConfirmPassword", @placeholder = remindPasswordConfirmPasswordDisplayName + "..."})
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right">
                    <input type="button" id="btnRemindPassword" value="Zmień Hasło" />
                </td>
            </tr>
        </table>
    </fieldset>
}
